html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    
    /* set background image per page */
    .home-bg {
    background: url(/Multimedia/breakDance.jpg) no-repeat center center fixed;
    }
    .about-bg {
    background: url("/Multimedia/breakDance.jpg") no-repeat center center fixed;
    }
    .contact-bg {
    background: url(https://lightroom.adobe.com/shares/3d6d582f399b4dfb9876c66d65228439/albums/db780e7cf63644e0a1d49e8d89a726ab/assets/3c5e068e0ff64815abd35f95a1a3b8f8) no-repeat center center fixed;
    }
.bodyIndex {
    background-image: url(/Multimedia/breakDance.jpg);
    background-color: hsl(0, 0%, 0%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-origin: content-box;
    background-position: center;
}

.bodyAbout {
   
    background-image: url(https://live.staticflickr.com/65535/51692032159_66d5036006_c.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-origin: content-box;
    background-position: center;
}
.bodyGallery{ background-image: url(https://lightroom.adobe.com/shares/d8dec4355eae426fa672850427e48515);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-origin: content-box;
    background-position: center;}

.index_header_ul_li {
    width: 800px;
    display: block;
    box-sizing: border-box;
    margin: auto;
    background-color: rgba(3, 91, 169, 0.643);
    border-radius: 1em;
    text-align: center;
    color: rgb(244, 190, 190);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact_header_ul_li {
    width: 800px;
    display: block;
    box-sizing: border-box;
    margin: auto;
    background-color: rgba(0, 5, 9, 0.538);
    border-radius: 1em;
    text-align: center;
    color: rgb(243, 245, 248);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    color: antiquewhite;
}

li {
    display: inline;

}

ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: rgb(255, 253, 253);
    padding: 10px;
}


h2.tableTitle {
    position: absolute;
    margin: 100px, 50px, 10px, 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(50, 125, 205);
    text-decoration: none;
    font-family: helvetica;
    letter-spacing: 1pt;
    text-align: center;
}

table {

    margin: auto;
    width: 100%;
    height: 40%;
    border: solid rgb(28, 47, 68) 5px;
    border-radius: 1em;
    color: rgb(13, 9, 9);
    font-size: 14pt;
    border-width: 3px;
}

tr {
    width: 310px;
    border: solid rgb(216, 213, 218);
    background-color: rgba(239, 248, 248, 0.784);
    color: rgb(17, 4, 4);
    font-size: 14pt;
    margin: auto;
    overflow: auto;
    border-radius: 1em;
    text-align: center;
}



th {
    width: 310px;
    border: solid rgba(19, 19, 20, 0.833) 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-width: 2PX;
    color: rgb(5, 4, 4);
    font-size: 14pt;
    padding: 3px;
    margin: auto;
    overflow: auto;
    border-radius: 1em;
    text-align: center;

}


.logo {
    position: fixed;
    left: 50;
    bottom: 10px;
    width: 5%;
    background-color: red;
    color: white;
    text-align: center;
    background-position: center;
    z-index: 2;

}

.footerIndex {
    position: fixed;
    display: block;
    left: 20%;
    right: 20%;
    bottom: 5px;
    width: 50%;
    background-color: rgba(3, 92, 169, 0.271);
    color: white;
    text-align: center;
    border-radius: 1em;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerContact {
    position: fixed;
    display: block;
    bottom: 10px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



* {
    box-sizing: border-box;
}

.bg-img {
    background-image: url("/Multimedia/MyLogoThumbnail.jpg");

    min-height: 500px;
    color: #f1f1f1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: rgb(0, 5, 9);
    border-radius: 1em;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.btn {
    background-color: rgb(41, 47, 52);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}