body {

    background-image: url("../Multimedia/Sketch2020_-4.jpg");
    background-color: rgb(2, 62, 57);
    background-repeat: no-repeat;
    background-size: 79%;
    background-attachment: fixed;
    background-origin: content-box;
    background-position: center;
}

header, h1{
display: inline;
margin: auto;
position: relative;
top:auto;
left: auto;
}

/* h1 {

    background-color: rgb(130, 36, 88);
    color: rgb(191, 246, 186);
    text-align: center;
   
    width: 300px;
} */

ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: antiquewhite;
}

/* 
footer {
    : ;
}

.centerTop {
    : ;
}

.centerBottom {
    : ;
}

.leftTop {
    : ;
}

.lightTop {
    : ;
}

.leftBottom {
    : ;
}

.rightBottom {
    : ;
} */
.myDivElement {
    text-align: center;
}

.myDivElement ul li {
    display: inline;

}

li,
header {
    display: inline;

}